<tr>
	<td class="skillclass"><%= ability_form.check_box :skill_class %></td>
	<td class="skillname">
		<% if ability_form.object.children? %>
			<%= ability_form.label ability_form.object.name[0..3] -%></span>
			<%= ability_form.select(:skill_id, ability_form.object.children)  -%>
		<% elsif ability_form.object.skill.parent %>
		   <%= ability_form.label ability_form.object.skill.parent.name[0..3] -%></span>
		   <%= ability_form.select(:skill_id, ability_form.object.parent_children)  -%>
		<% else %>
			<%= ability_form.label ability_form.object.name -%></span>
			<%= ability_form.hidden_field :skill_id %>
		<% end %>
	</td>
	<td class="skillkeyability"><%= ability_form.text_field :characteristic_short, :readonly => true %></td>
	<td class="skillmodifier"><%= ability_form.text_field :skill_modifier, :readonly => true %></td>
	<td class="skillabilitymodifier"> = <%= ability_form.text_field :bonus, :readonly => true  %></td>
	<td class="skillranks">+ <%= ability_form.text_field :ranks %> + </td>
	<td class="skillmisc"><%= ability_form.text_field :misc %></td>
</tr>